<div class="builder-layout">
  <aside class="palette">
    <div class="project-actions">
      <button class="btn-save" (click)="builder.saveProject()">
        💾 Exporter JSON
      </button>

      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept=".json"
        style="display: none"
      />
      <button class="btn-import" (click)="fileInput.click()">
        📂 Importer JSON
      </button>
    </div>

    <h2>Éléments</h2>
    <div class="toolbar-grid">
      <button (click)="builder.addComponent('input')">Texte</button>
      <button (click)="builder.addComponent('date')">Date</button>
      <button (click)="builder.addComponent('combo')">Combo</button>
      <button (click)="builder.addComponent('list')">Liste</button>
      <button (click)="builder.addComponent('button')">Bouton</button>
    </div>
  </aside>

  <main class="canvas">
    <div class="canvas-header">
      <div class="screen-selector">
        <span>Écran : </span>
        <select
          [ngModel]="builder.currentScreenId()"
          (ngModelChange)="builder.currentScreenId.set($event)"
        >
          @for (s of builder.screens(); track s.id) {
          <option [value]="s.id">{{ s.name }}</option>
          }
        </select>
        <button class="btn-add-screen" (click)="promptNewScreen()">
          + Ajouter
        </button>
      </div>
    </div>

    <div class="drop-zone" cdkDropList (cdkDropListDropped)="drop($event)">
      @for (comp of builder.activeScreen()?.components; track comp.id) {
      <div
        class="comp-item"
        cdkDrag
        [class.active]="builder.selectedComponentId() === comp.id"
        (click)="
          builder.selectedComponentId.set(comp.id); $event.stopPropagation()
        "
      >
        <app-dynamic-renderer [config]="comp" />
        <div class="cdk-drag-placeholder" *cdkDragPlaceholder></div>
      </div>
      } @empty {
      <div class="empty-state">
        La page est vide. Ajoutez des éléments à gauche.
      </div>
      }
    </div>
  </main>

  <aside class="inspector">
    <h3>Propriétés</h3>
    @if (builder.selectedComponentId()) {
    <p>ID : {{ builder.selectedComponentId()?.substring(0, 8) }}</p>
    @for (comp of builder.activeScreen()?.components; track comp.id) {
      @if (comp.id === builder.selectedComponentId()) {
        <div>type : {{ comp.type }}</div>
        <div>label : {{ comp.label }}</div>
        <div>value : {{ comp.value }}</div>  
      }
    }
    } @else {
    <p class="hint">Sélectionnez un élément</p>
    }
  </aside>
</div>
